@import "commonControlsStyles.scss";
@import "savingPlans.scss";
@import "header.scss";
@import "leftMenu.scss";
@import "settings.scss";
@import "reports.scss";
@import "dashboard.scss";

* {
  margin: 0px;
  padding: 0px;
  line-height: normal;
  outline:none;
}

html {
  height: 100%;
  width: 100%;
  > body {
    height: 100%;
    width: 100%;
    border-top: $greenBorderTop;
    font-family: Calibri;
    .topGreenLine {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 5px;
      background-color: #8cc63f;
    }
    .login-container{
        background: #4b4a48;
        width: 100%;
        height:100%;
        position: absolute;
        .login-fields{
            position: absolute;
            top: 50%;
            width: 250px;
            left: 50%;
            margin-top: -160px;
            margin-left: -125px;
            .logo{
                background: url("../images/leftMenu/PowerPlug.png") no-repeat center;
                height: 90px;                            
            }
            form{
                input[type=text], input[type=password]{
                    width: 250px;
                    border-radius: 0px;
                }
                .form-actions{
                    text-align:center;
                    padding-top:20px;
                    button{
                        width: 100px;
                        height: 30px;
                        background-color: #8cc63f;
                        border: none;
                        text-align: center;
                        color: #fff;
                        font-size: 15px;
                        font-weight: bold;
                        font-family: Calibri;
                        outline: none;
                        opacity: 1;
                        border-radius: 0px;
                        padding:0px;
                    }
                }
            }
        }        
    }
    .main-wrapper {
      display: flex;
      flex-direction: row;
      height:100%;
      > .content-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0px 34px;
        > .content {
          flex-grow: 1;
        }
      }
    }
  }
}

.uibTabSet{
    > ul{float:left;}
    > .tab-content{float:left; padding-left:20px;}
}

.fl{
    float:left;
}
.fr{
    float:right;
}
