<div class="settings">
    <div class="list-row-container">
        <div class="list-column-container" ui-sref="powerConsumption">
            <div>
                <img src="../../content/images/settings/icons/powerConsumption.png" />
            </div>
            <div class="list-column-title">
                Computer Power Consumption
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
            </div>
        </div>
        <div class="list-column-container" ui-sref="electricityPrice">
            <div>
                <img src="../../content/images/settings/icons/electricityPrice.png" />
            </div>
            <div class="list-column-title">
                Electricity Prices
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
        <div class="list-column-container" ui-sref="computerGroups">
            <div>
                <img src="../../content/images/settings/icons/computerGroup.png" />
            </div>
            <div class="list-column-title">
                Computer Groups
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
        <div class="list-column-container" ui-sref="locations">
            <div>
                <img src="../../content/images/settings/icons/location.png" />
            </div>
            <div class="list-column-title">
                Locations & Power Rates
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
    </div>
    <div class="list-row-container">
        <div class="list-column-container" ui-sref="scripts">
            <div>
                <img src="../../content/images/settings/icons/script.png" />
            </div>
            <div class="list-column-title">
                Scripts Library
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
        <div class="list-column-container" ui-sref="consolePermission" style="display:none;">
            <div>
                <img src="../../content/images/settings/icons/consolePermission.png" />
            </div>
            <div class="list-column-title">
                Console Permissions
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
        <div class="list-column-container" ui-sref="wakeupPortalPermission">
            <div>
                <img src="../../content/images/settings/icons/wakeUp.png"/>
            </div>
            <div class="list-column-title">
                Wake-up Portal Permissions
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
        <div class="list-column-container" ui-sref="wakeonLan">
            <div>
                <img src="../../content/images/settings/icons/wakeonLan.png" />
            </div>
            <div class="list-column-title">
                Wake on LAN Options
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
    </div>
    <div class="list-row-container">
        <div class="list-column-container" ui-sref="about">
            <div>
                <img src="../../content/images/settings/icons/about.png" />
            </div>
            <div class="list-column-title">
                About
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
        <div class="list-column-container" ui-sref="licensing">
            <div>
                <img src="../../content/images/settings/icons/licensing.png" />
            </div>
            <div class="list-column-title">
                Product Licensing
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
        <div class="list-column-container" ui-sref="configuration">
            <div>
                <img src="../../content/images/settings/icons/configuration.png" />
            </div>
            <div class="list-column-title">
                Configuration
            </div>
            <div class="list-column-desc">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            </div>
        </div>
    </div>
</div>