<div class="settings">
    <div class="settings-content">
        <span>Implicit Permissions</span>
        <div class="permission-selection">
            <div>
                <input id="permission1" type="checkbox" class="custom-checkbox-green-type00" ng-model="vm.wakeupData.allowLogins"/>
                <label for="permission1"></label><span>Allow users to wake up all computers they Log-in to</span>
            </div>
            <div>
                <input id="permission2" type="checkbox" class="custom-checkbox-green-type00" ng-model="vm.wakeupData.allowRDP"/>
                <label for="permission2"></label><span>Allow users to wake up computers they log-in to using RDP</span>
            </div>
            <div>
                <input id="permission3" type="checkbox" class="custom-checkbox-green-type00" ng-model="vm.wakeupData.allowOwners"/>
                <label for="permission3"></label><span>Allow users to wake up computers they log-in to the most</span>
            </div>
        </div>
    </div>
    <div class="bg-separator"></div>
    <div class="settings-content">
        <span>Explicit Permissions</span>
        <table class="table">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Username</td>
                    <td>User Domain</td>
                    <td>Computer Name</td>
                    <td>Computer Domain</td>
                    <td colspan="2">                        
                        <span class="buttonTypeOneAdd action-settings" ng-click="vm.showEditWakeupPermission()">Add</span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="permission in vm.wakeupData.permissions" class="script-row" data-id="permission.guid" ng-click="vm.selectScript($event)">
                    <td><i class="fa fa-padding" aria-hidden="true" ng-class="permission.allow ? 'fa-check' : 'fa-minus'"></i>{{ permission.allow ? "Allow" : "Deny"}}</td>
                    <td>{{ permission.username}}</td>
                    <td>{{ permission.domainName}}</td>
                    <td>{{ permission.computerName}}</td>
                    <td>{{ permission.computerDomain}}</td>
                    <td class="button-container"><span class="buttonTypeOneEdit action-settings" ng-click="vm.showEditWakeupPermission(permission.guid)">Edit</span></td>
                    <td class="button-container"><span class="buttonTypeOneRemove action-settings" ng-click="vm.removePermission(permission.guid)">Remove</span></td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="save-button-margin"></div>
    <div class="buttons-container">
        <div>
            <input type="button" value="Save Changes" class="btn-save-green" ng-click="vm.saveChanges()" />
            <input type="button" value="Discard" class="btn-discard-gray" ng-click="vm.discardChanges()" />
        </div>
    </div>
</div>
<style>    
    div.content-wrapper {
        background-color: #fff;
    }    
</style>